.devcontainer
.secrets
notes.md
.vscode/
*_cache/
/solution2-compose-observability/grafana/dashboards/*json

.env
*.dec.*
*decrypted*
key.txt
*storage*
*/storage/*
storage/*

solution3-helm/
solution2-compose-observability/rabbitmq
